[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.3.5"
sphinxcontrib-napoleon = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
numpydoc = "*"
sphinx = "*"

[packages]
e1839a8 = {editable = true,path = "."}
pycnfg = {editable = true,extras = ["dev"],path = "."}

[requires]
python_version = "3.7"
